body{
    background-color: lightgray;
}

header{
    text-align: center;
    padding:15px;
    background-color: #FAA94A;
    color: white;
}

form{
    width: 25vh;
    max-width: 300px;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
}
#output_box{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    
}
.weather-box {
    border:5px solid black;
}
.carousel-slide{
    width: 300px;
    height: 200px;

}
.carousel-caption{
    display: flex;
    justify-content: baseline;
    background-color: #FAA94A;
    color: white;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #FAA94A;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
#footer_logo {
    padding: 2px;
    width: 40px;
    height: auto;
}
#user_input {
padding: 20px;
display:flex;
justify-content: center;
}
#user_input_form {
    display: flex;
    flex-direction: column;
    gap:10px
}


